node_modules/
.nyc_output
coverage
coverage.lcov
lib/
generated-docs/
yarn-error.log

package-lock.json

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Editor files
.vscode/
.idea/
